
.featured {
  position: sticky;
  top: 0;
}

article {
  h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 24px;

    a {
      text-decoration: none;
      color: #111;
    }

    a:hover,
    a:focus {
      text-decoration: underline #f72210;
      color: #111;
    }
  }

  .wrap {
    position: relative;
    // min-height: 33px;
    // margin-bottom: 10px;
    .category a {
      font: bold 17px/16px "Roboto Condensed", sans-serif;
      text-decoration: none;
      color: #f72210;
      text-transform: uppercase;
      padding: 8px 15px 9px;
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      bottom: 8px;
      left: 0;
      z-index: 1;
    }

    img {
      position: relative;
      width: 100%;
    }
  }

  .wrap-small {
    position: relative;

    .info a {
      display: block;
      font-family: "Roboto Condensed", sans-serif;
      text-decoration: none;
      font-weight: 700;
      color: #1111117c;
      font-size: 1rem;
      line-height: 20px;
    }

    .category {
      font: bold 14px/14px "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      padding: 4px 10px 3px;
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    .category a {
      text-decoration: none;
    }

    .image-container {
      width: 100%;

      @media screen and (max-width: 768px) {
        height: 100%;
        width: 100%;
      }

      height: 130px;
      max-width: 600px;
      max-height: 600px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  p {
    font-size: 0.9rem;
  }
}
