.debate {
  .info {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 20px;
    padding-right: 0.5em;

    p:last-child {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #555;
      padding-top: 0.3em;
    }

    a {
      font-family: "Roboto Condensed", sans-serif;
      text-decoration: none;
      color: #111;
      font-size: 1.1rem;
    }

    a:hover,
    a:focus {
      text-decoration: underline #f72210;
      color: #111;
    }
  }

  .deco {
    position: relative;
  }

  .deco::before {
    top: calc(50% - 2px);
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .deco::after {
    top: 50%;
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .vs {
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: #000;
    color: #d6d6d6d6;
    border-radius: 50%;
    font: bold 14px/32px "Roboto Condensed", sans-serif;
    text-align: center;
    margin: 6px auto;
  }
}
