.footer-top {
  .bottom-logo {
    @media screen and (max-width: 720px) {
      margin: 0 0 0.5em 0.6em;
    }
  }

  margin-bottom: 12px;

  p {
    font-size: 0.8rem;
    color: #666;
    margin: 0;
    padding-left: 1em;
  }

  .social-icons {
    li {
      padding-left: 10px;
    }

    a {
      color: #666;
      font-size: 0.933rem;
    }
  }
}

.footer-links {
  @media screen and (max-width: 720px) {
    padding: 0 0 0 0.6em;
  }

  border-top: 1px solid #d9d9d9;

  .footer-links-edition,
  .footer-links-mini {
    padding: 0 0 0.6em 0;

    li {
      @media screen and (max-width: 720px) {
        border: none;
      }

      border-right: 1px solid #d9d9d9;
      padding-right: 10px;
      margin-right: 10px;
    }

    a {
      color: #666;
      font-size: 0.8125rem;
      white-space: nowrap;
    }

    :hover {
      color: black;
    }
  }
}
