html,
body {
  height: 100%;
}

img {
  width: 100%;
}

.main {
  min-height: 50%;
}

.block-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
  padding-bottom: 0.3em;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.info a {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #1111117c;
  font-size: 1rem;
  line-height: 20px;
}

.info a:hover {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  color: #111;
  text-decoration: underline #f72210;
  font-size: 1rem;
  line-height: 20px;
}

.n-title {
  display: flex;
  align-items: center;
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;

  .icon-n {
    flex: none;
    display: block;
    width: 29px;
    height: 28px;
    background:
      url("assets/img/logo-n1.svg") center/contain no-repeat
      #f72210;
    margin-right: 10px;
  }
}
