.page-header {
  position: relative;
  z-index: 10;
}

.bottom-nav {
  font-family: "Roboto Condensed", sans-serif;
  border-top-color: #f4f5f7;
  padding: 0.815em 0 1px 0;
  border-top-width: 2px;
  border-top-style: solid;

  ul {
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    color: #6f6f6f;
    font-weight: 500;
  }

  a:hover,
  a:focus {
    color: #f72210;
  }
}

.top-nav {
  @media screen and(max-width: 990px) {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    a {
      margin: auto 0;
    }

    .brand-logo > svg {
      transition: height 0.6s ease;
      height: 20px !important;
      width: 132px;
      padding-left: 1em;
    }
  }

  height: 92px;
  background-color: #f72210;
  font-family: "Roboto Condensed", sans-serif;

  .top-nav-action {
    margin: auto 0;

    .nav-icon span {
      display: block;
      width: 30px;
      border-radius: 3px;
      height: 4px;
      margin: 4px;
      background-color: #ffffffa3;
      cursor: pointer;
    }

    @media screen and (max-width: 560px) {
      .nav-icon span {
        display: block;
        width: 18px;
        border-radius: 3px;
        height: 2px;
        margin: 3px;
        background-color: #ffffffa3;
        cursor: pointer;
      }
    }

    ul {
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.125rem;
      font-weight: 400;
    }

    .subscribe {
      background-color: #ffe400;
      border-radius: 3rem;

      &::after {
        border-right-width: 2px;
        display: inline-block;
        content: "";
        border-right-style: solid;
        border-top-style: solid;
        transform: rotate(45deg);
        margin-bottom: 2px;
        width: 10px;
        height: 10px;
        border-top-width: 2px;
      }
    }

    @media screen and (max-width: 560px) {
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 400;
      }

      .subscribe {
        background-color: #ffe400;
        border-radius: 1.9rem;
        margin: auto 0;

        &::after {
          border-right-width: 2px;
          display: inline-block;
          content: "";
          border-right-style: solid;
          border-top-style: solid;
          transform: rotate(45deg);
          margin-bottom: 1px;
          width: 8px;
          height: 8px;
          border-top-width: 2px;
        }
      }
    }
  }
}

.header-bottom {
  background-color: #f72210;
  border-bottom: 2px solid rgb(238, 238, 238);

  &::before {
    width: 66px !important;
    position: absolute;
    top: 92px;
    right: 0;
    content: "";
    display: block;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }

  .mid-nav {
    ul {
      margin: auto 0;

      li {
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: #d9d9d9;
      }

      li:first-child {
        border-left-width: 0;
      }
    }

    a {
      text-decoration: none;
      font-family: "Roboto Condensed", sans-serif;
      color: #111;
      font-size: 1.266rem;
      font-weight: 700;
    }

    :hover,
    :focus {
      color: #f72210;
    }

    .mid-nav-search {
      input {
        width: 60px;
        height: 54px;
        outline: none;
        border: none;
      }

      i {
        font-size: 1.2rem;
        color: #787878;
      }
    }
  }
}
