.newsletter-signup {
  max-width: 300px;
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;

  input {
    width: 100%;
    height: 32px;
    line-height: 32px;
  }

  .form-text {
    color: #555;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid #e0e1e1;
    text-indent: 9px;
  }

  .free-signup input {
    width: 100%;
    height: 32px;
    line-height: 32px;
  }

  .free-signup .form-submit {
    margin-top: 8px;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0;
    font-family: "Roboto Condensed", sans-serif;
    background:
      url("assets/img/free-sign-up.svg") center/108px no-repeat
      #f61602;
    border-radius: 3px;
  }
}
