@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&display=swap");

html,
body {
  height: 100%;
}
img {
  width: 100%;
}
.main {
  min-height: 50%;
}

.block-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
  padding-bottom: 0.3em;
  a {
    text-decoration: none;
    color: inherit;
  }
}

article {
  .wrap {
    position: relative;
    // min-height: 33px;
    // margin-bottom: 10px;
    .category a {
      font: bold 17px/16px "Roboto Condensed", sans-serif;
      text-decoration: none;
      color: #f72210;
      text-transform: uppercase;
      padding: 8px 15px 9px;
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      bottom: 8px;
      left: 0;
      z-index: 1;
    }
    img {
      position: relative;
      width: 100%;
    }
  }
  .wrap-small {
    position: relative;
    .category {
      font: bold 14px/14px "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      padding: 4px 10px 3px;
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    .category a {
      text-decoration: none;
    }
    .image-container {
      width: 100%;
      @media screen and (max-width: 768px) {
        height: 100%;
        width: 100%;
      }
      height: 130px;
      max-width: 600px;
      max-height: 600px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .info a {
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #1111117c;
    font-size: 1rem;
    line-height: 20px;
  }
  p {
    font-size: 0.9rem;
  }
  h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 24px;
    a {
      text-decoration: none;
      color: #111111;
    }
    a:hover,
    a:focus {
      text-decoration: underline #f72210;
      color: #111111;
    }
  }
}

.debate {
  .info {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 20px;
    padding-right: 0.5em;
    p:last-child {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #555;
      padding-top: 0.3em;
    }
    a {
      font-family: "Roboto Condensed", sans-serif;
      text-decoration: none;
      color: #111111;
      font-size: 1.1rem;
    }
    a:hover,
    a:focus {
      text-decoration: underline #f72210;
      color: #111111;
    }
  }
  .deco {
    position: relative;
  }
  .deco::before {
    top: calc(50% - 2px);
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .deco::after {
    top: 50%;
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .vs {
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: #000;
    color: #d6d6d6d6;
    border-radius: 50%;
    font: bold 14px/32px "Roboto Condensed", sans-serif;
    text-align: center;
    margin: 6px auto;
  }
}

@import "footer";
@import "header";
@import "mainSection";
