@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;700&display=swap");

html,
body {
  height: 100%;
}

img {
  width: 100%;
}

.main {
  min-height: 50%;
}

.block-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
  padding-bottom: 0.3em;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.info a {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #1111117c;
  font-size: 1rem;
  line-height: 20px;
}

.debate {
  .info {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 20px;
    padding-right: 0.5em;

    p:last-child {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #555;
      padding-top: 0.3em;
    }

    a {
      font-family: "Roboto Condensed", sans-serif;
      text-decoration: none;
      color: #111;
      font-size: 1.1rem;
    }

    a:hover,
    a:focus {
      text-decoration: underline #f72210;
      color: #111;
    }
  }

  .deco {
    position: relative;
  }

  .deco::before {
    top: calc(50% - 2px);
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .deco::after {
    top: 50%;
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .vs {
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: #000;
    color: #d6d6d6d6;
    border-radius: 50%;
    font: bold 14px/32px "Roboto Condensed", sans-serif;
    text-align: center;
    margin: 6px auto;
  }
}

.newsletter-signup {
  max-width: 300px;
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;

  .n-title {
    display: flex;
    align-items: center;
    font: bold 19px/19px "Roboto Condensed", sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;

    .icon-n {
      flex: none;
      display: block;
      width: 29px;
      height: 28px;
      background:
        url("assets/img/logo-n1.svg") center/contain no-repeat
        #f72210;
      margin-right: 10px;
    }
  }

  input {
    width: 100%;
    height: 32px;
    line-height: 32px;
  }

  .form-text {
    color: #555;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 1px solid #e0e1e1;
    text-indent: 9px;
  }

  .free-signup input {
    width: 100%;
    height: 32px;
    line-height: 32px;
  }

  .free-signup .form-submit {
    margin-top: 8px;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0;
    font-family: "Roboto Condensed", sans-serif;
    background:
      url("assets/img/free-sign-up.svg") center/108px no-repeat
      #f61602;
    border-radius: 3px;
  }
}

.stories {
  figure {
    width: 100px;
    height: 100px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@import "footer";
@import "header";
@import "article";
